# OS Metadata (ไฟล์ขยะจากระบบปฏิบัติการ)
.DS_Store
Thumbs.db
desktop.ini

# IDE / Editor Settings (ค่าส่วนตัวของโปรแกรมเขียนโค้ด)
.vscode/
.idea/
*.suat
*.swp
*.sublime-project
*.sublime-workspace

# Local Backups / Logs (ไฟล์สำรองหรือไฟล์บันทึกการทำงาน)
*.log
backup/
temp/
tmp/

# Browser specific (กรณีมีไฟล์จาก Browser ติดมา)
.crx
.xpi
